<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExerciciosDoLucas"
        tools:targetApi="31">
        <activity
            android:name=".ExerciseFourteen"
            android:exported="false" />
        <activity
            android:name=".ExerciseThirteen"
            android:exported="false" />
        <activity
            android:name=".ExerciseSixPartTwo"
            android:exported="false" />
        <activity
            android:name=".ExerciseTwelve"
            android:exported="false" />
        <activity
            android:name=".ExerciseEleven"
            android:exported="false" />
        <activity
            android:name=".ExerciseTen"
            android:exported="false" />
        <activity
            android:name=".ExerciseNine"
            android:exported="false" />
        <activity
            android:name=".ExerciseEight"
            android:exported="false" />
        <activity
            android:name=".ExerciseSeven"
            android:exported="false" />
        <activity
            android:name=".ExerciseSixPartOne"
            android:exported="false" />
        <activity
            android:name=".ExerciseFive"
            android:exported="false" />
        <activity
            android:name=".ExerciseFour"
            android:exported="false" />
        <activity
            android:name=".ExerciseThree"
            android:exported="false" />
        <activity
            android:name=".ExerciseTwo"
            android:exported="false" />
        <activity
            android:name=".ExerciseOne"
            android:exported="false" />
        <activity
            android:name=".primeiroExercicio"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>